@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
    --body-bg: #0E1344;
    /* --box-bg: #fff; */
    /* --input-bg: #f5f8ff; */
    --txt-color: #f5f8ff;
    /* --txt-second-color: #ccc; */
    /* --border-color: #4267b2; */
    /* --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--txt-color);
    justify-content: center;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
  }
